@page
@model ProjectPrn221.Pages.Admin.DashBoardModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<div id="content-right">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row mb-4">

                <!-- Icon Cards-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                    <div class="rounded-2">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone bg-info">
                                <i class="bi bi-currency-dollar"></i>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                <h4>Weekly Sales</h4>
                                <p>@Model.weeklySale</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                    <div class="rounded-2">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo bg-success">
                                <i class="bi bi-receipt"></i>

                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                <h4>Total Order</h4>
                                <p>@Model.totalOrders</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                    <div class="rounded-2">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree  bg-secondary">
                                <i class="bi bi-person-vcard"></i>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                <h4>Total Customers</h4>
                                <p>@Model.totalCustomerHasAccount</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="dashboard-2">
                <div id="chart" style="text-align: center;">
                    <form method="get" id="form-order-year">
                        <select name="orderyear" onchange="document.getElementById('form-order-year').submit();">
                            <option value="0">Current</option>
                            @foreach (var year in Model.orderyearsList)
                            {
                                if ((int)ViewData["year"] == year)
                                {
                                    <option value="@year" selected>@year</option>
                                    continue;
                                }
                                <option value="@year">@year</option>

                            }
                        </select>
                    </form>
                    <div id="chart1">
                        <h3>Statistic Orders (Month)</h3>
                        <canvas id="myChart1" style="width: 80%;"></canvas>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function OrdersChart(ordersMonthData) {
        var xValues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];

        new Chart("myChart1", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    data: ordersMonthData,
                    borderColor: "sienna",
                    fill: true
                }]
            },
            options: {
                legend: { display: false }
            }
        });
    }

    @{
        var order12 = Model.orders12months;
    }
        OrdersChart([@order12[1], @order12[2], @order12[3], @order12[4], @order12[5], @order12[6], @order12[7], @order12[8], @order12[9], @order12[10], @order12[11], @order12[12]]);
</script>