@page
@model ProjectPrn221.Pages.Admin.Products.ListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    List<int> myIntList = new List<int>();
}
<h2>List of Products</h2>
<div style="background-color:green; color:white; font-weight:bold">
    @if (TempData["msg"] != null)
    {
        <span>@TempData["msg"]</span>
    }
</div>

<div class="filterCat">
    <form id="frmCate"  method="get">
    <select name="cateId" onchange="ChangeCate()">
        <option value="0">All Category</option>
        @foreach (var c in Model.Categories)
        {
            @if (@ViewBag.SelectedId == @c.CategoryId)
            {
                <option value="@c.CategoryId" selected>@c.CategoryName</option>
            }
            else
            {      
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        }
    </select  
</form>
</div>
<div class="addMovies">
    @if (ViewBag.role == "Customer")
    {
        <button class="addToCart">Cart</button>
    }
    <button class="addMovies_layout">Add New Movie</button>
</div>

@{
    var products = Model.Products;
}
@if (ViewBag.productId != null)
{
    <p style="margin-top:40px;color:#FF0000">Add product with id @ViewBag.productId to cart successfully</p>
}
<table border="1" width="100%" class="table mt-3 table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in products)
        {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.ProductName</td>
                <td>@p.UnitPrice</td>
                <td>@p.QuantityPerUnit</td>
                <td>@p.Category.CategoryName</td>
                @if (ViewBag.role == "Employees")
                {
                    <td>
                        <a asp-page="Edit" asp-route-id="@p.ProductId">Edit</a>
                    </td>
                    <td>
                        <a asp-page="List" asp-page-handler="Delete" asp-route-id="@p.ProductId">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <button class="btn-cart"><a asp-page="List" asp-page-handler="AddCart" asp-route-catId="@ViewBag.SelectedId" asp-route-id="@p.ProductId">Add Cart</a></button>
                    </td>
                    <td>
                        <button class="btn-buy"><a href="/Admin/Products/buy">Buy</a></button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    function addToCart(id){
       alert("Add product with id " + id + " to cart successfully");
         const url = "/Page2";
         const xhr = new XMLHttpRequest();
         xhr.open("POST", url);
         xhr.setRequestHeader("Content-Type", "application/json");
         xhr.send(JSON.stringify(id));
    }
    function ChangeCate() {
        document.getElementById("frmCate").submit();
    }

</script>

<style>
    .btn-cart {
        border: 1px;
        background: #FFA500;
        border-radius: 5px;
    }

    .btn-buy {
        border: 1px;
        background: red;
        border-radius: 5px;
    }

        .btn-cart > a,
        .btn-buy > a {
            color: white !important;
        }

    .addMovies {
        float: right;
        margin-bottom: 18px;
    }
    .filterCat{
        float:left;
         margin-bottom: 18px;
    }
    .addMovies_layout {
        border-radius: 5px;
        height: 36px;
        width: 187px;
        color: white;
        background: green;
    }

    .addToCart {
        border-radius: 5px;
        height: 36px;
        width: 100px;
        color: white;
        background: #FFA500;
    }
</style>