@page
@model ProjectPrn221.Pages.Admin.Products.ListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    List<int> myIntList = new List<int>();
}
<h2>List of Products</h2>
<div style="background-color:green; color:white; font-weight:bold">
    @if (TempData["msg"] != null)
    {
        <span>@TempData["msg"]</span>
    }
</div>

<div class="filterCat">
    <form id="frmCate"  method="get" style="float:none">
    <select name="cateId" onchange="ChangeCate()">
        <option value="0">All Category</option>
        @foreach (var c in Model.Categories)
        {
            @if (@ViewBag.SelectedId == @c.CategoryId)
            {
                <option value="@c.CategoryId" selected>@c.CategoryName</option>
            }
            else
            {      
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        }
    </select  
</form>
<div class="addMovies">
     @if (ViewBag.role == "Customer")
    {
        <button class="btn btn-secondary"><a style="color:white" href="/Member/Index">Order List</a></button>
    }
    @if (ViewBag.role == "Customer")
    {
        <button class="btn btn-info"><a style="color:white" href="/Member/ListCart">Cart list</a></button>
    }
    @if(ViewBag.role == "Employees")
    {
        <button class="btn btn-success"><a href="/Common/Products/Create">Add New Product</a></button>
    }
       
</div>
</div>   
@{
    var products = Model.Products;
}
@if (ViewBag.productId != null)
{
    <p style="margin-top:40px;color:#FF0000">@ViewBag.productId</p>
}
@if(@ViewBag.msg != null)
{
    <h1 style="color:red">@ViewBag.msg</h1>
}

<div>
    <div class="product1">
        <div style="width:18%;color:white">Image</div>
        <div style="width:22%;color:white">Name</div>
        <div style="width:15%;color:white">Price</div>
        <div style="width:15%;color:white">Quantity</div>
        <div class="ingredient">Category</div>
     </div>
</div>
@foreach (var p in products)
{
     <div class="product">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUDL4sFLsC_XFkNtYW3KTCEnd0bSId2PCRHg&usqp=CAU">           
        <div style="width:22%" class="name">@p.ProductName</div>
        <input type="hidden" name="productName" value="@p.ProductName">
        <div style="width:15%" class="price" data-price="@p.UnitPrice">@p.UnitPrice $</div>     
        <input type="hidden" name="price" value="@p.UnitPrice">
        <div style="width:20%">@p.QuantityPerUnit</div>
        <div style="width:20%">@p.Category.CategoryName</div>    
           @if (ViewBag.role == "Employees")
                {
                    <td>
                        <a class="btn btn-primary" asp-page="Edit" asp-route-catId="@ViewBag.SelectedId" asp-route-id="@p.ProductId">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-page="List" asp-page-handler="Delete" asp-route-catId="@ViewBag.SelectedId" asp-route-id="@p.ProductId">Delete</a>
            </td>
        }
        else
        {
            @if(ViewBag.role == null)
            {
                 <td>
                        <button class="btn btn-warning"><a href="/SignIn">AddCart</a></button>
                    </td>
                    <td>
                        <button onclick="event.preventDefault();BuyProduct(@p.ProductId,'@p.ProductName',@p.UnitPrice)" class="btn btn-danger">
                            <a href="/SignIn">Buy</a>
                        </button>
                      
                    </td>
            }
            else
            {
                  <td>
                        <button class="btn btn-warning"><a asp-page="List" asp-page-handler="AddCart" asp-route-catId="@ViewBag.SelectedId" asp-route-id="@p.ProductId">AddCart</a></button>
                    </td>
                    <td>
                        <button onclick="event.preventDefault();BuyProduct(@p.ProductId,'@p.ProductName',@p.UnitPrice)" class="btn btn-danger">Buy</button>
                        <form method="post" id="buy-@p.ProductId" asp-page-handler="Buy">
                             <input type="hidden" name="buyProduct" value="@p.ProductId" />
                        </form>
                    </td>
                    }
          
            }
    </div>
}
<script>
    function BuyProduct(id,name,price){
        console.log("đã vào");       
        console.log(id);
        const confirmed = confirm('bạn có muốn thanh toán sản phẩm ' + name + ' với giá ' + price + '.000 ko');
        if (confirmed) {
            document.getElementById('buy-' + id).submit();
        } else {
            console.log('Người dùng đã hủy thanh toán');
        }
    }    
    function ChangeCate() {
        document.getElementById("frmCate").submit();
    }

</script>

<style>
    img{
        height:118px;
        width: 11%;
        margin-right: 97px;
    }
    .ingredient {
        width: 20%;
        color: white;
    }
    .product {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border: 1px solid white;
        margin-bottom: 10px;
        background: rgb(234,234,234);
        height: 128px;
    }

    .product1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border: 1px solid white;
        margin-bottom: 10px;
        background: rgb(150,88,138);
        height: 80px;
    }
    .btn-cart {
        border: 1px;
        background: #FFA500;
        border-radius: 5px;
    }

    .btn-buy {
        border: 1px;
        background: red;
        border-radius: 5px;
    }
        .btn-success > a,
        .btn-info > a,
        .btn-warning > a,
        .btn-danger > a {
            color: white !important;
        }

    .addMovies {
        text-align:right;
        margin-bottom: 18px;
    }
    .filterCat{      
         margin-bottom: 18px;
    }
    .addMovies_layout {
        border-radius: 5px;
        height: 36px;
        width: 187px;
        color: white;
        background: green;
    }

    .addToCart {
        border-radius: 5px;
        height: 36px;
        width: 100px;
        color: white;
        border:1px solid white;
        background: #9370DB;
    }
</style>