@page
@model ProjectPrn221.Pages.Admin.Products.ListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>List of Products</h2>
<div style="background-color:green; color:white; font-weight:bold">
    @if (TempData["msg"] != null)
    {
        <span>@TempData["msg"]</span>
    }
</div>
<div class="addMovies">
    <button class="addMovies_layout">Add New Movie</button>
</div>

@{
    var products = Model.Products;
}
<table border="1" width="100%" class="table mt-3 table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in products)
        {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.ProductName</td>
                <td>@p.UnitPrice</td>
                <td>@p.QuantityPerUnit</td>
                <td>@p.Category.CategoryName</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@p.ProductId">Edit</a>
                </td>
                <td>
                    <a asp-page="List" asp-page-handler="Delete" asp-route-id="@p.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .addMovies {
        float: right;
        margin-bottom: 18px;
    }

    .addMovies_layout {
        border-radius: 5px;
        height: 36px;
        width: 187px;
        color: white;
        background: green;
    }
</style>