@page
@model ProjectPrn221.Pages.Admin.Category.ListModel
@{
}

<h2>List of Category</h2>
<div style="background-color:green; color:white; font-weight:bold">
    @if (TempData["msg"] != null)
    {
            <span>@TempData["msg"]</span>
    }
</div>
<h3><a asp-page="Create">Create a new Product</a></h3>

@{
    var categories = Model.ListCategory;
}
<table border="1" width="100%" class="table mt-3 table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Picture</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var p in categories)
        {
                <tr>
                    <td>@p.CategoryId</td>
                    <td>@p.CategoryName</td>
                    <td>@p.Description</td>
                
                <td><img src=""></td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@p.CategoryId">Edit</a>
                    </td>
                    <td>
                        <a asp-page="List" asp-page-handler="Delete" asp-route-id="@p.CategoryId">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>